.footer {
  padding-top: 20px;

  &__top {
    display: flex;
    justify-content: center;
    transform: translateY(30px);
  }

  &__inner {
    padding: 130px 0 40px;
    background-color: $color-1;
  }

  &__text {
    @extend %roboto-500;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    color: #fff;

    & + *{
      margin-top: 43px;
    }
  }

  &__social + *{
    margin-top: 40px;
  }
}

.logo {

  &__link {
    width: 230px;
    min-height: 60px;
    text-align: center;
    background-color: $color-1;
  }
}

.social-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    & + &{
      margin-top: 16px;
    }
  }
}

.contact-footer {
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    flex: 0 0 177px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
  }

  &__descr {
    @extend %robotocondensed-700;
    font-size: 18px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 2px;
    color: $color-3;

    & + *{
      margin-top: 18px;
    }
  }

  &__link{
      padding: 3px;
      transition: all .3s;
      position: relative;
    
    &:hover::after{
        content: '';
        width: 50%;
        height: 1px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
      }
  }
}

.footer-bottom {
  background-color: $color-3;

  &__inner {
    min-height: 142px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__descr {
    @extend %robotocondensed-400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 2px;
    color: $color-2;

    & + *{
      margin-top: 0;
      margin-left: 10px;
    }
  }
}





