.news {
  padding: 40px 0;
   background-color: $color-3;

  &__title {
    color: $color-2;
    padding-bottom: 20px;
    text-align: center;

    &::after{
      background-color: $color-1;
    }

    & + *{
      margin-top: 40px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(1, 270px);
    justify-content: center;
    grid-gap: 30px;
  }
}

.item-news {
  align-self: start;
  &:hover{
    .item-news__descr{
     color: #fff;
     background-color: $color-1;
     transform: translateY(-70px);
    }
    .item-news__overlay{
      opacity: 1;
    }
  }

  &__image {
    position: relative;

  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__descr {
    @extend %robotocondensed-700;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 2px;
    color: $color-2;
    display: block;
    padding: 8px 10px 10px;
    background-color: #fff;
    transition: all .3s;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(43, 64, 116, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid $color-1;
    opacity: 0;
    transition: all .3s;
  }

  &__info,
  &__search {
    margin-left: 10px;
    transition: all .3s;

    &:hover{
      transform: scale(1.06);
    }
  }
}
