@media (min-width: 640px) {
  .header {
    padding: 17px 0;
  
    &__inner {
      min-height: 100px;
    }
  }
  // =========================

  .head {
    height: 386px;
  }  
  .slider-head {
  
    &__item {
      height: 386px;
      padding: 50px 0 110px;
    }
  
    &__title {
      max-width: 360px;
      font-size: 60px;
      padding-bottom: 7px;

      & + *{
        margin-top: 30px;
      }
    }

    &__btn{ 
      display: block;
      position: absolute;
      bottom: 113px;
      left: 50%;
      transform: translateX(-50%);

      & + *{
        margin-top: 53px;
      }
    }

    .slick-dots{
      bottom: 35px;
    }

    .arrow{
      width: 56px;
      height: 56px;
      position: absolute;
      z-index: 5;
      right: 0;
      transition: all .3s;

      &:hover{
        transform: scale(.97);
      }
    }

    .arrow-prev{
      background-color: $color-1;
      top: calc(50% - 56px);
    }

    .arrow-next{
      background-color: $color-3;
      bottom: calc(50% - 56px);
    }
    
  }  
  // =========================

  .call {

    &__text{
      max-width: 500px;
    }
  
    &__title {
      font-size: 24px;
      line-height: 1;
      margin-bottom: 15px;
    }
  }
  // =========================

  .services .title::after{
    display: none;
  }
  .services{
    padding: 25px 0 100px;

    &__items{
      display: flex;
      flex-wrap: wrap;
    }

    &__item{
      flex: 0 1 50%;

      &:nth-child(7){
        border-bottom: 1px solid $color-1;
      }

      &:nth-child(even){
        border-left: none;
      }
    }
  }  
  .content-services {
  
    &__title {
      padding-bottom: 0;
  
      & + *{
        margin-top: 12px;
      }
    }
  
    &__text {
      max-width: 496px;
      margin: 0 auto;
      padding-bottom: 30px;
      position: relative;

      &::after{
        content: '';
        width: 100px;
        height: 8px;
        background-color: $color-1;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
  
      & + *{
        margin-top: 30px;
      }
    }
  
    &__descr {
      font-size: 18px;
      line-height: 1.33;
      color: #797979;
    }
  }  
  .card-services {
    padding: 20px 46px 29px 45px;
  
    &__image + *{
      margin-top: 10px;
    }
  
    &__title {
  
      & + *{
        margin-top: 21px;
      }
    }
  
    &__text {
  
      & + *{
        margin-top: 17px;
      }
    }
  }
  // =========================

  .project {
    padding-top: 40px;

    &__items {
      padding: 0 25px;
    }
  
    &__name {
      font-size: 20px;
    }
  
    &__item-layout {
      width: 490px;
      height: 430px;
    }
  }
  // =========================
  .team {
    padding: 40px 0 50px;
  
    &__video {
  
      & + *{
        margin-top: 40px;
      }
    }
  }   
  .box-video {
    min-height: 490px;
  }   
  .info-team {
   
    &__title {
  
      & + *{
        margin-top: 40px;
      }
    }
  
    &__text {
      margin-bottom: 56px;
    }
  }  
  // =========================
  
  .news {
  
    &__title {
  
      & + *{
        margin-top: 60px;
      }
    }
  
    &__items {
      grid-template-columns: repeat(2, 270px);
      grid-auto-flow: dense;
    }
  } 
  // =========================

  .quote {
    padding-bottom: 45px;
  }
  .slider-quote {
  
    &__icon {
      
      & + *{
        margin-top: 40px;
      }
    }
  
    &__text {
  
      & + *{
        margin-top: 40px;
      }
    }
  }
  // =========================
  
  .footer {
  
    &__inner {
      padding: 85px 0 125px;
    }
  
    &__text {
      max-width: 470px;
      font-size: 24px;
      text-align: left;
  
      & + *{
        margin-top: 40px;
      }
    }
  } 
  .social-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #7EBF84;
    border-bottom: 1px solid #7EBF84;
  
    &__item {
      width: 100%;
      padding: 18px 0 16px;
      text-align: center;
      border-right: 1px solid #7EBF84;
      border-left: 1px solid #7EBF84;

      &:first-child{
        border-left: none;
      }
      &:last-child{
        border-right: none;
      }
      &:nth-child(odd),
      &:nth-child(even){
        border-right: none;
      }

      & + &{
        margin-top: 0;
      }
    }
  }
  .contact-footer {
    padding-bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  
    &__item {
     flex: 0 1 50%;
     text-align: left;

     &:not(:last-child){
      margin-bottom: 40px;
     }
    }
  
    &__descr {
      text-align: left;
  
      & + *{
        margin-top: 22px;
      }
    }
  }
  .footer-bottom {
  
    &__inner {
      min-height: 42px; 
      flex-direction: row;
      justify-content: end;
    }
  
    &__descr {
      font-size: 16px;
      line-height: 1.9;
      letter-spacing: 2px;
      color: $color-2;
  
      & + *{
        margin-top: 20px;
      }
    }

    &__arrow{
      padding-bottom: 13px;
    }
  } 
}