@import '_vars';
@import '_fonts';
@import '_header';
@import '_head';
@import '_call';
@import '_services';
@import '_project';
@import '_team';
@import '_news';
@import '_quote';
@import '_footer';
@import '_tablet-640';
@import '_tablet-768';
@import '_tablet-1024';
@import '_tablet-1440';





// ======================
html{
  scroll-behavior: smooth;
}
body{
  min-width: 320px;
  font-family: 'Roboto-Regular', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.13;
  color: $color-4;
}

a{
  text-decoration: none;
  color: inherit;
}

ul,
li{
  list-style: none;
}

button{
  border: none;
  background-color: transparent;
  padding: 0;
}

.container{
  padding: 0 20px;
}
@media (min-width: 640px){
  .container{
    padding: 0 30px;
  }
}
@media (min-width: 768px){
  .container{
    padding: 0 40px;
  }
}
@media (min-width: 1024px){
  .container{
    max-width: 1280;
    margin: 0 auto;
    padding: 0 40px;
  }
}
@media (min-width: 1440px){
  .container{
    max-width: 1370px;
  }
}

.title {
  @extend %robotocondensed-400;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 2px;
  position: relative;

  &::after{
    content: '';
    width: 50px;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
@media (min-width: 640px){
  .title{
    font-size: 48px;

    &::after{
      width: 100px;
    }

    // &::after{
    //   display: none;
    // }
  }
}
// =======================

